a {
  text-decoration: none;
}

body {
  background: #ffa2be;
  max-height: 100vh;
  overflow-x: hidden;
}

button {
  display: block;
  margin: 0 auto;
  background-color: white;
  border-radius: 56.25px;
  padding: 10px 28px;
  border: white;
  color: #b73123;
  font-size: 18px;
  margin-top: -1.13px;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  margin-top: 18px;
}

.apple {
  transition: transform 1.2s cubic-bezier(1, 0, 0, 1);
}

.box {
  position: relative;
  z-index: 1;
}

.box .can {
  display: block;
  margin: 0 auto;
  width: 316px;
  height: 580px;
  margin-top: -490px;
  padding-bottom: 5px;
}

.box .shadowcan {
  position: fixed;
  width: 826px;
  height: 53px;
  top: 665px;
  left: 534px;
}

.box .shadowL {
  position: fixed;
  width: 297px;
  height: 53px;
  top: 74%;
  left: 300px;
}

.box .shadowR {
  position: fixed;
  width: 195px;
  height: 53px;
  top: 75%;
  right: 0;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 264px;
  position: relative;
}

.header .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Clash Display", sans-serif;
  font-weight: 700;
  color: #b73123;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.header .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.header .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "General Sans", sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.header .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.image .appleL {
  position: fixed;
  width: 200px;
  height: 375px;
  top: 30%;
  left: 0;
}

.image .appleT {
  position: fixed;
  width: 267px;
  height: 166px;
  top: 10%;
  left: 17%;
}

.image .appleRT {
  position: fixed;
  width: 228px;
  height: 143px;
  top: 8.1%;
  left: 62%;
}

.image .appleR {
  position: fixed;
  width: 253px;
  height: 368px;
  top: 152px;
  right: 0;
}

.labels {
  position: relative;
  width: 1402px;
  height: 553px;
  overflow: hidden;
}

.labels .div-wrapper {
  left: 0;
  position: absolute;
  width: 1402px;
  height: 553px;
  top: 0;
}
.labels .div {
  text-align: center;
  top: -1px;
  left: 44px;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 449.8px;
  letter-spacing: 0;
  line-height: normal;
}
